*{
    box-sizing: "border-box";
}

:root{
    --color1: hsl(0, 48%, 51%);
    --color2: #45567d;
    --color3: #303841;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* navbar */

#navbar{
    background-color: var(--color1);
    width: 100%;
    height: 12%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
}

#navbar ul{
    list-style-type: none;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 3%;
    min-width: 300px;
}

#navbar li,a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}


#navbar a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
}

#navbar a:hover{
    background-color: var(--color2);
    cursor: pointer;
}


/* main */

main{
    width:100%;
    position: absolute;
    top:12%;
    background-color: var(--color3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* welcome section */

#welcome-section{
    width:100%;
    height:100vh;
    background: linear-gradient(
        -135deg,
        hsl(0, 0%, 12%) 30%,
        hsl(0, 1%, 24%)
    );
}

#welcome-section div{
    color: white;
    font-size: 2.5rem;
    margin: 0 auto;
    transform: translate(0%,100%);
    overflow: hidden;
}

#welcome-section h1{
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 700;
    text-align: center;
}

#welcome-section p{
    margin: 0;
    padding-top:0;
    color: var(--color1);
    text-align: center;
}

/* projects section */

#projects{
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects > h2{
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    color: white;
    text-align: center;
    padding-top: 50px;
}

#projects > div{
    display: flex;
    flex-wrap: wrap;
    align-items:start;
    justify-content: space-evenly;
}

.project-tile{
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    border-radius: 2%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.proj-img{
    width: 100%;
    height: 80%;
}

.proj-title{
    background-color: var(--color3);
    color: white;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.proj-title code{
    font-size: 1rem;
    font-weight: bold;
    color: var(--color3);
    transition: transform 0.3s ease;
}

.proj-title:hover .left-angle{
    color: var(--color1);
    transform: translate(-5px,0);
}

.proj-title:hover .right-angle{
    color: var(--color1);
    transform: translate(5px,0);
}



#projects > button p{
    display: inline-block;
    text-align: center;
    margin-top: 12px;
    margin-right: 10px;
}

#projects > button{
    background-color: var(--color3);
    color: white;
    text-align: center;
    width: 160px;
    height: 60px;
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 4%;
    box-shadow: 0;
}

#projects > button:hover{
    background-color: var(--color1);
    cursor: pointer;
}

#arrow{
    transition: transform 0.3s ease;
}

#projects > button:hover #arrow{
    transform: translate(5px,0%);
}

/* contact section */
#contact-section{
    width:100%;
    min-height: 71vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact-section > h1{
    font-family: 'Raleway', sans-serif !important;
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 5px;
    padding-bottom: 0;
}

#contact-section > p{
    margin-top: 0;
    margin-bottom: 70px;
    font-weight: 100px;
    font-size: 1.5rem;
}

#icons-portion{
    width: 60%;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icon{
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease;
}

#icons-portion label{
    font-size: 2rem;
    padding-left: 10px;
}

.icon:hover{
    transform: translate(0,10%);
}

/* footer */

footer{
    width: 100%;
    height: 20%;
    color: white;
    text-align: end;
    padding-right: 15px;
    margin-top: 50px;
    border-top: 3px solid var(--color1);    
}